
Inventario/target/classes/.netbeans_automatic_build
Inventario/target/test-classes/.netbeans_automatic_build
TrabajoFinal/target/classes/META-INF/MANIFEST.MF
TrabajoFinal/target/classes/META-INF/maven/com.TF/TrabajoFinal/pom.properties
